name: Ping Supabase
on:
  schedule:
    - cron: '0 0 * * 1,4'

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -s -o /dev/null "https://${{ secrets.PUBLIC_SUPABASE_PROJECT }}.supabase.co/rest/v1/?apikey=${{ secrets.PUBLIC_SUPABASE_KEY }}"
